h1 {
    color: rgb(255, 255, 0);
    text-align: center;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header {
    height: 100px;
    background-color: rgb(0, 0, 0);
}

#bg {
    /* Preserve aspet ratio */
    display: block;
    max-width: 100%;
    max-height: auto;
}

#footer {
    height: 120px;
    background-color: rgb(0, 0, 0);
}